$background-color: #EEEEEE
$dark-color: #303841
$primary-color: #005689
$text-color: #3A4750

.view
    height: 100%
    width: 100%
    position: relative
    overflow-x: hidden
    overflow-y: scroll
    background-color: $background-color


    .nav-bar
        width: 100%
        height: 50px
        position: fixed
        z-index: 999
        top: 0
        left: 0
        right: 0
        background: $background-color
        transition: all 0.5s
        display: flex        
        .nav-title
            height: 80%
            justify-content: flex-start
            padding-top: 14px
            margin-left: 10%
            width: 10%
            .title
                height: 100%
                transition: all 0.5s
                padding: 0
                margin: 0
                font-weight: 500
                font-size: 18px
                color: $primary-color
                opacity: 0
            .title.active
                opacity: 1
                transition: all 0.5s
        .nav-items
            height: 100%
            // margin-left: 55%
            width: 50%
            margin: auto
            display: flex
            justify-content: flex-end

            .mat-flat-button
                background-color: $background-color
                margin: 0px 0px
                margin-right: 15px
                font-weight: 200
                padding: 0px 10px
                transition: all 0.5s
                border-radius: 0px
                border-bottom: 0px
            .mat-flat-button.active
                color: $primary-color
            .mat-flat-button:hover
                border-bottom: 1px solid $primary-color
                transition: all 0.5s
    .nav-bar.active
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
        transition: all 0.5s
    
    img
        position: absolute
        height: 550px
        top: 40px            
        right: 0px

    .hero
        text-align: center
        width: 100%
        margin: auto
        padding-top: 20%
        height: 500px
        
        .hero-name
            .name
                color: $primary-color
                font-weight: 400
                letter-spacing: 10px
                font-size: 55px
        .hero-title
            padding-top: 25px
            .title
                text-transform: uppercase
                color: $text-color
                font-weight: 200
                letter-spacing: 5px
                font-size: 28px
        .hero-actions
            padding-top: 25px
            .mat-raised-button
                width: 200px
                font-weight: 200
            #experience-action
                margin-right: 10px
                background: $primary-color
                color: $background-color
            #project-action
                margin-left: 10px
                background: $text-color
                color: $background-color
    
    .section-title
        border-bottom: 1px solid $primary-color
        .title 
            text-transform: uppercase
            padding: 0px
            margin: 0px
            margin-bottom: 5px
            font-weight: 200
            font-size: 20px
            letter-spacing: 5px
    .about
        padding: 0
        margin-left: 10%
        width: 50%
        min-height: 400px
        height: auto
        .about-desc
            padding-top: 10px
            font-weight: 300
            font-size: 15px
            line-height: 150%
        .education
            padding-top: 10px
            .education-item
                font-size: 15px
                margin-bottom: 15px
                .school
                    padding: 0
                    margin: 0
                    margin-bottom: 5px
                    font-weight: 500
                .degree
                    padding: 0
                    margin: 0
                    font-weight: 200
    .skills
        padding: 0
        margin-left: 10%
        width: 50%
        height: auto
        min-height: 400px
        margin-bottom: 50px

        .skill-list
            margin-top: 20px
            .skill-major
                padding: 0
                margin: 0
                height: 20px
                display: flex
                .bullet-point
                    width: 30px
                    height: 8px
                    border-radius: 10px
                    background-color: $primary-color
                    margin-top: 5px
                    margin-right: 10px
                .title
                    font-weight: 200
                    font-size: 15px
            .skill-minor
                padding: 0
                margin: 0
                margin-left: 30px
                margin-top: 5px
                height: 20px
                display: flex
                .bullet-point
                    width: 20px
                    height: 8px
                    border-radius: 10px
                    background-color: $primary-color
                    margin-top: 5px
                    margin-right: 10px
                .title
                    font-weight: 200
    .projects
        padding: 0
        margin-left: 10%
        width: 50%
        height: auto
        min-height: 300px
        margin-bottom: 50px

        .project-list
            width: 140%
            height: 500px
            margin-top: 20px
   
            .project
                height: 80%
                max-width: 400px
                background-color: $background-color
                cursor: pointer
                box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
                .mat-card-title
                    font-size: 17px
                    color: $primary-color
                .mat-card-image
                    opacity: .75
                    padding-top: 10px
                    height: 170px!important
                .mat-card-content
                    margin-top: 200px


            .project:hover
                box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
    .professional
        padding: 0
        margin-left: 10%
        width: 50%
        height: auto
        min-height: 400px
        margin-bottom: 50px
        .experience-list
            width: 140%
            height: 500px
            margin-top: 20px
            .experience-item
                width: 75%
                margin-bottom: 30px
                .timeframe
                    letter-spacing: 5px
                    font-size: 18px
                .company
                    margin-left: 15px
                    display: flex
                    .name
                        color: $primary-color
                        font-size: 16px
                    .location
                        margin-left: 10px
                        font-size: 15px
                        opacity: .5
                .position
                    margin-left: 16px
                    margin-top: -10px
                    opacity: .75
                .position-infos
                    width: 75%
                    .position-info
                        padding: 0
                        margin: 0
                        margin-left: 15px
                        margin-top: 5px
                        height: 20px
                        display: flex
                        .bullet-point
                            width: 15px
                            height: 8px
                            border-radius: 10px
                            background-color: $primary-color
                            margin-top: 5px
                            margin-right: 10px
                        .info
                            font-size: 13px                           
    .volunteer
        padding: 0
        margin-left: 10%
        width: 50%
        height: auto
        min-height: 400px
        margin-bottom: 50px
        .experience-list
            width: 140%
            height: 500px
            margin-top: 20px
            .experience-item
                width: 75%
                margin-bottom: 30px
                .timeframe
                    letter-spacing: 5px
                    font-size: 18px
                .company
                    margin-left: 15px
                    display: flex
                    .name
                        color: $primary-color
                        font-size: 16px
                    .location
                        margin-left: 10px
                        font-size: 15px
                        opacity: .5
                .position
                    margin-left: 16px
                    margin-top: -10px
                    opacity: .75
                .position-infos
                    width: 75%
                    .position-info
                        padding: 0
                        margin: 0
                        margin-left: 15px
                        margin-top: 5px
                        height: 20px
                        display: flex
                        .bullet-point
                            width: 15px
                            height: 8px
                            border-radius: 10px
                            background-color: $primary-color
                            margin-top: 5px
                            margin-right: 10px
                        .info
                            font-size: 13px 
    .footer
        display: flex
        width: 100%
        height: 100px
        padding: 20px
        color: $background-color
        background-color: $primary-color
        .footer-website
            width: 33%
            text-align: center
            padding-top: 50px
            .title
                margin: 0
                padding: 0
        .footer-version
            width: 33%
            text-align: center
            padding-top: 25px
            .title
                margin: 0
                padding: 0
        .footer-copyright
            width: 33%
            text-align: center
            padding-top: 50px
            .title
                margin: 0
                padding: 0




